* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: cursive;
}

#nickAzul {
    background-color: #3F51B5;
    width: 563px;
    height: 778px;
    flex-shrink: 0;
    border-radius: 30px 0 0 30px;
}

#nick {
    width: 1440px;
    height: 780px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-top: 28px;
    margin-left: 130px;
}

#nick img {
    width: 289px;
    height: 292px;
    flex-shrink: 0;
    margin-left: 137px;
    margin-top: 220px;
}

#nickBranco div img {
    width: 30vw;
    height: 20vh;
    margin-left: 10.5vw;
    margin-top: 135px;
}

#bem-vindo p {
    color: #3F51B5;
    text-align: center;
    font-size: 40px;
    line-height: normal;
    margin-left: 16vw;
    width: 20vw;
}

#nick-nome p {
    color: #FF4081;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 18vw;
    width: 15vw;
}

#nick-nome input {
    margin-left: 15vw;
    width: 362px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #3F51B5;
    background: #E0E0E0;
    text-align: center;
}

#nick-nome button {
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FF4081;
    margin-top: 2vh;
    margin-left: 21vw;
    border: none;
    color: #ffff;
}

/**/
#chats {
    width: 876px;
    background-color: #3F51B5;
    height: 778px;
    border-radius: 10px;
    margin-left: 4px;
}


#chats img {
    width: 531px;
    height: 484px;
    flex-shrink: 0;
    margin-top: 10vh;
    margin-left: 11vw;
}

#chats p {
    text-align: center;
    color: #FFF;
    color: #FFF;
    width: 22vw;
    margin-left: 14vw;
}

#salas {
    width: 1440px;
    height: 780px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 130px;
}

#sala {
    margin-right: 0;
    width: 558px;
    background-color: #abb7ff;
    height: 778px;
    border-radius: 10px;
}

#menu {
    background-color: #000;
    height: 86px;
}

#pesquisar {
    background-color: #d9d9d9;
    height: 53px;
}

#pesquisar input {
    border-radius: 10px;
    width: 514px;
    height: 43px;
    flex-shrink: 0;
    background-color: #000;
    color: #D9D9D9;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 22px;
    border: none;
}

#conversa {
    background-color: #d9d9d9;
    height: 98px;
    margin-bottom: 4px;
}

#conversa:hover{
    background-color: #6D82F7;
}